/* header */ 
.thetoplf
{
    background-color: #b68a35;
    width: 80%;
    height: 50px;
    float: right;
    margin-right: -10%;
    margin-top: -113px;
    opacity: 0.9;
    transform:skew(13deg,0deg);
    display: inline;
    
}


.thetopri
{
   background-color: #ba9242;
    width: 40%;
    height: 50px;
    float: left;
    margin-top: -113px;
    opacity: 0.9;
    transform:skew(13deg,0deg);  
    margin-left: -10%;
    display: inline;
    overflow: hidden;
}

.marq
{
    position: fixed;
    top: 43px;
    float: left;
    width: 100%;
    height: 40px;
    z-index: 9800;
}


marquee
{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    height: 50px;
    margin-left: -1%;
    margin-top: 10px;
}


marquee span
{
    line-height: 40px;
    margin: 0 3em;
    text-align: center;
}

.headbtn
{
    background-color: red;
    width: 100%;
    height: 50px;
   
    display: block;
   margin-top: 113px;
}




.tabbus{
    background-color: #ba9242;
    width: 18%;
    height: 50px;
    float: left;
    /*margin-right: -10%;*/
   /* margin-top: -113px;*/
    opacity: 0.9;
  /*  transform:skew(13deg,0deg);*/
    display: inline;
    
}