

body
{
 background-image: url(images/4.jpg);
    background-repeat: space;
    background-size:cover;
    background-position: top;
    
}
/* header */ 
.thetoplf
{
    background-color: #b68a35;
    width: 80%;
    height: 50px;
    float: right;
    margin-right: -10%;
    margin-top: -110px;
    opacity: 0.9;
    transform:skew(13deg,0deg);
    display: inline;
   
}


.thetopri
{
   background-color: #ba9242;
    width: 40%;
    height: 50px;
    float: left;
    margin-top: -110px;
    opacity: 0.8;
    transform:skew(13deg,0deg);  
    margin-left: -10%;
    display: inline;
    overflow: hidden;
    position: fixed;
}

.marq
{
    position: fixed;
    top: 43px;
    float: left;
    width: 100%;
    height: 40px;
    z-index: 9800;
    
}


marquee
{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    height: 50px;
    margin-left: -1%;
    margin-top: 10px;
   
}


marquee span
{
    line-height: 40px;
    margin: 0 3em;
    text-align: center;
    text-decoration: none;
    color: white;
}

.headbtn
{
   
    width: 100%;
    height: 50px;
    display: block;
   margin-top: 110px;
    
}

.onehead
{
    width: 25%;
    height: 50px;
    float: right;
    background-color: #b68a35;
    margin-right: -2%;
    font-size: 200%;
}

.onehead:hover
{
    background-color: #896010;
}

.ankor
{
     color: white;
    text-decoration: none;
    top: 50%;
    font-size: 140%;
    font-family : kankan;
}

.onehead1
{
    width: 25%;
    height: 50px;
    float: center;
    background-color: #b68a35;
   
    font-size: 200%;
}

.onehead1:hover
{
    background-color: #896010;
}


.ankor1
{
    color: white;
    text-decoration: none;
    top: 50%;
    font-size: 140%;
    font-family: monospace;
    margin-right: 10%;
    font-family : kankan;
}

.onehead2
{
    width: 25%;
    height: 50px;
    float: left;
    background-color: #b68a35;
    margin-left: 0%;
    font-size: 200%;
    display: inline-block;  
    margin-top: -50px;
    margin-left: -3%;
}

.onehead2:hover
{
    background-color: #896010;
}


.ankor2
{
    color: white;
    text-decoration: none;
    top: 50%;
    font-size: 140%;
    font-family: monospace;
    margin-right: 10%;
    float: right;
    margin-right: 20%;
    font-family : kankan;
}


/* -------------------------- */

.map
{
width: 100%;
    height: 100%;
 
}

.kar
{ margin-top: 2%;
    width: 50%;
    height: 300px;
    background-color: aqua;
    border: 20px solid #e8dcc2;
    visibility: hidden;
}


/* ---------------------------------- */

.numb
{
    width: 40%;
    height: 60px;
    visibility: hidden;
    float: left;
    margin-top: 10px;
}

.ab
{
  font-size: 250%;
  color: #ba9242;
  margin-left: 7%;  
}

.ab1
{
    width: 200px;
    background-color: white;
    height: 40px;
    display: inline-block;
    float: center;
    margin-top: 2%;
    margin-left: 2%;
    border-radius:10px 20px 10px 30px; 
    border: 5px solid #cfb37b;
}


.path
{
    width: 50%;
    height: 400px;
    background-color: aqua;
    margin-top: -350px;
    float: left;
    margin-left: -35%;
    visibility: hidden;
}

.olo
{
 font-size: 30px;
}


/* ----- the table ----- */

.tabl
{
   margin-top: -200px;
    display: inline;
   width: 500px;
    height: 800px;
    
}